body {
    text-align: center;
}

input[type="text"]
{
    width: 75%;
}

canvas {
    max-width: 1000px;
    width: 90%;
}

a {
    text-decoration: none;
    color: #AAAAAA;
}

#outDiv {
    font-size: 20%;
}

#usersDiv {
    margin-top: 30px;
    line-height: 100%;
    font-size: 100%;
}

#credits {
    min-width: 90%;
}

.userSubDiv {
    min-width: 400px;
    max-width: 90%;
}